{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, мир!</h1>
<p>
  Всем привет, меня зовут Павел Киселев, я живу в Ростове-на-Дону, в настоящий момент работаю в Яндекс.Такси.
</p>
<p>
  Сейчас обучаюсь на факультете бэкэнд-разработки в Практикуме, изучаю язык Python и фраймворк Django.<br>
  В школьные годы увлекался программированием, потом долгое время работал в другой сфере, но тяга к <br>
  программированию осталась, поэтому я воспользовался и участвовал в конкурсе от команды Яндекс.Такси,<br>
  где разыгрывали обучение в Практикуме. 
</p>
<p>
  Пройдя обучение, надеюсь стать junior Python Developer в одной из крутых компаний ;)
</p>
<p>
  <a href="https://github.com/pavel-kiselev-practicum">Ссылка на мой GitHub</a>
</p>
{% endblock %}